@font-face {
  font-family: 'Inter';
  font-weight: normal;
  src: local('Inter-Medium'), url('/fonts/Inter-Medium.otf')
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: local('Inter-Bold'), url('/fonts/Inter-Bold.otf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter-ExtraBold'), url('/fonts/Inter-ExtraBold.otf');
}

@font-face {
  font-family: 'Inter';
  font-weight: lighter;
  src: local('Inter-Light'), url('/fonts/Inter-Light.otf');
}

:root{
  font-size: 16px;
  font-family: Inter;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  opacity: 0.6;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.upper{
  text-transform: uppercase;
}

button:hover{
  cursor: pointer;
}